@media (max-width:780px) {
    .headline {
        flex-direction: column;
    }

    .headline {
        gap:20px;
    }
}


@media (max-width:550px) {
    .containerpoke {
        height: 69vh;
        width: 320px;
    }
}